body {
	background-color: black;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
    text-shadow: 2px 2px #996633;
	color: white;
}

h1, h2 {
	text-shadow: 2px 2px #996633;
	color: white;
}

h3 {
	text-shadow: 2px 2px #996633;
	color: white;
}