body {
	background-image: url(bckgrnd.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
	text-shadow: 2px 2px white;
	color: #0db9ff;
}

h1, h2, h3, h4 {
	text-shadow: 2px 2px white;
	color: #0db9ff;
}